@media (min-width: 1401px) {
    body {
        padding: 30px;
    }
    header {
        padding: 10px 30px;
    }
    .header__one {
        width: 70%;
    }
    nav {
        gap: 50px;
    }
    .zayavka {
        font-size: 20px;
    }
    #menu-icon {
        font-size: 25px;
        display: none;
    }
    .yudaev {
        font-size: 24px;
    }

    .engine {
        top: calc(50% - 240px);
        left: calc(50% - 225px);
        width: 500px;
    }
    .inicial {
        top: calc(50% - 27%);
        left: calc(50% - 460px);
        width: 100px;
    }
    .hazard {
        top: calc(50% - 270px);
        left: calc(50% - 250px);
        width: 150px;
    }
    .main__title {
        margin-top: 250px;
        font-size: 140px;
    }
}

@media (max-width: 1400px) {
    body {
        padding: 30px;
    }
    header {
        padding: 10px 15px;
    }
    .header__one {
        width: 70%;
    }
    nav {
        gap: 50px;
    }
    .zayavka {
        font-size: 20px;
    }
    #menu-icon {
        font-size: 25px;
        display: none;
    }
    .yudaev {
        font-size: 24px;
    }

    .engine {
        top: calc(50% - 240px);
        left: calc(50% - 225px);
        width: 500px;
    }
    .inicial {
        top: calc(50% - 27%);
        left: calc(50% - 460px);
        width: 100px;
    }
    .hazard {
        top: calc(50% - 270px);
        left: calc(50% - 250px);
        width: 150px;
    }
    .main__title {
        margin: 180px 0 0 0;
        font-size: 140px;
    }

    .footer__content {
        width: 50%;
        font-size: 16px;
    }
}

@media (max-width: 1200px) {
    body {
        padding: 30px;
    }
    header {
        padding: 10px 15px;
    }
    .header__one {
        width: 75%;
    }
    nav {
        gap: 20px;
    }
    .zayavka {
        font-size: 16px;
    }

    .engine {
        top: calc(50% - 240px);
        left: calc(50% - 200px);
        width: 500px;
    }
    .inicial {
        top: calc(50% - 30%);
        left: calc(50% - 40%);
        width: 100px;
    }
    .hazard {
        top: calc(50% - 260px);
        left: calc(50% - 180px);
        width: 140px;
    }
    .main__title {
        margin: 180px 0 0 0;
        font-size: 100px;
    }
}

@media (max-width: 991px) {
    body {
        padding: 20px;
    }
    .header__one {
        width: 75%;
    }
    nav {
        gap: 20px;
    }
    .zayavka {
        font-size: 16px;
    }

    .engine {
        top: calc(50% - 140px);
        left: calc(50% - 150px);
        width: 350px;
    }
    .inicial {
        top: calc(50% - 30%);
        left: calc(50% - 40%);
        width: 100px;
    }
    .hazard {
        top: calc(50% - 160px);
        left: calc(50% - 140px);
        width: 100px;
    }
    .main__title {
        margin: 180px 0 0 0;
        font-size: 100px;
    }
}

@media (max-width: 768px) {
    .header__one {
        width: 80%;
    }
    nav {
        gap: 15px;
    }
    .zayavka {
        font-size: 14px;
        margin-top: 7px;
    }

    .engine {
        top: calc(50% - 140px);
        left: calc(50% - 150px);
        width: 350px;
    }
    .inicial {
        top: calc(50% - 30%);
        left: calc(50% - 40%);
        width: 100px;
    }
    .hazard {
        top: calc(50% - 160px);
        left: calc(50% - 140px);
        width: 100px;
    }
    .main__title div {
        margin-top: 40px;
        font-size: 90px;
    }

    footer {
        flex-direction: column-reverse;
        width: 100%;
    }
    .footer__content {
        width: 100%;
        font-size: 10px;
    }
    .footer__type {
        padding: 5px 20px;
        font-size: 14px;
        margin-bottom: 10px;
    }
}

@media (max-width: 690px) {
    .header__one {
        flex-direction: row-reverse;
        width: 60%;
    }
    #menu-icon {
        font-size: 25px;
        display: block;
    }
    nav div {
        display: none;
    }
    .yudaev {
        font-size: 20px;
    }
    .zayavka {
        font-size: 12px;
    }

    .engine {
        top: calc(50% - 140px);
        left: calc(50% - 150px);
        width: 350px;
    }
    .inicial {
        top: calc(50% - 30%);
        left: calc(50% - 40%);
        width: 100px;
    }
    .hazard {
        top: calc(50% - 160px);
        left: calc(50% - 140px);
        width: 100px;
    }
    .main__title {
        margin: 150px 0 0 0;
    }
    .main__title div {
        font-size: 50px;
    }

    footer {
        flex-direction: column-reverse;
        width: 100%;
    }
    .footer__content {
        width: 100%;
        font-size: 10px;
    }
    .footer__type {
        padding: 5px 20px;
        font-size: 14px;
        margin-bottom: 10px;
    }
}
@media (max-width: 450px) {
    .header__one {
        flex-direction: row-reverse;
        width: 60%;
    }
    #menu-icon {
        font-size: 25px;
        display: block;
    }
    nav div {
        display: none;
    }
    .yudaev {
        font-size: 20px;
    }
    .zayavka {
        font-size: 12px;
    }

    .engine {
        top: calc(50% - 140px);
        left: calc(50% - 125px);
        width: 300px;
    }
    .inicial {
        top: calc(50% - 30%);
        left: calc(50% - 40%);
        width: 100px;
    }
    .hazard {
        top: calc(50% - 160px);
        left: calc(50% - 130px);
        width: 80px;
    }
    .main__title {
        margin: 150px 0 0 0;
        font-size: 50px;
    }

    footer {
        flex-direction: column-reverse;
        width: 100%;
    }
    .footer__content {
        width: 100%;
        font-size: 10px;
    }
    .footer__type {
        padding: 5px 20px;
        font-size: 14px;
        margin-bottom: 10px;
    }
}

@media (max-width: 365px) {
    .header__one {
        flex-direction: row-reverse;
        width: 60%;
    }
    #menu-icon {
        font-size: 25px;
        display: block;
    }
    nav div {
        display: none;
    }

    .inicial {
        top: calc(50% - 35%);
    }
    .hazard {
        left: calc(50% - 120px);
    }
    .main__title {
        margin: 150px 0 0 0;
        font-size: 45px;
        margin-bottom: 0px;
    }

    footer {
        flex-direction: column-reverse;
        width: 100%;
    }
    .footer__content {
        width: 100%;
        font-size: 10px;
    }
    .footer__type {
        padding: 5px 20px;
        font-size: 14px;
        margin-bottom: 10px;
    }
}